/* src/styles/global.css */
@import "tailwindcss";

@theme {
  /* Colores personalizados */
  --color-bg: #0e0f12;
  --color-bg-soft: #15181e;
  --color-primary: #6cf0c2; /* Verde menta */
  --color-card: #13151a;
  --color-muted: #9aa3b2;

  /* Definimos tu fuente */
  --font-sans: "Inter", system-ui, sans-serif;
}